DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SOLANA_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_URL="https://api.devnet.solana.com"
NEXT_PUBLIC_WANNABET_PROGRAM_ID="H1fMNM3LC2Ljy6auyBVzeTvE2aeG4CTDRhpm6crn5bVW"
NEXT_PUBLIC_WANNABET_MINT="41HMG3gXWky6c5HRo7z9moHuPWc2dk7EXQRxwEa2huqu"
