node_modules
.next
.env
.env.*
!.env.example
*.db
*.db-journal
dist
build
coverage
*.log
.DS_Store
onchain/wannabet_escrow/node_modules
onchain/wannabet_escrow/target
**/target
*.keypair.json
id.json
.vercel
onchain/wannabet_escrow/.git_backup_do_not_use
solana-install.sh
tsconfig.tsbuildinfo

/lib/generated/prisma
